/*
#################
    GENERAL 
#################
 */

/* main colours */

a {
  text-decoration: none;
}
.navbar, .footer-basic, .box {
  background-color: rgb(222, 235, 176);
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(222, 235, 176);
}

.my-title, #welcome-msg, .nav-item a, .footer-basic {
  color: #0e0924;
}

/* navbar */

.my-title {
  font-family: 'Bubblegum Sans', cursive;
  text-align: center;
  color: #0e0924;
}

#welcome-msg {
  padding-left: 20%;
  padding-top: 10%;
  margin-left: 5%;
}

.navbar-toggler {
  border: none;
}

.nav-item a:hover, .footer-basic ul a:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  font-weight: bolder;
}


/* general styling for all pages */

main {
  min-height: 85vh;
  background-color: #0e0924;
}

.box {
  margin: 5% 0;
  border-radius: 15px;
  padding: 3%;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
  height: fit-content;
}

.box-button {
  background-color: rgb(27, 139, 111);
  box-shadow: 5px 5px 7px rgb(18, 99, 79);
}

.box-button a {
  color: rgb(191, 209, 201);
  letter-spacing: 2px;
  margin: 3px;
}

.box-button:hover {
  background-color: rgb(238, 230, 230);
  box-shadow: 5px 5px 7px rgb(124, 122, 122);
  
}

.box-button a:hover {
  color: rgb(27, 139, 111);
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Architects Daughter', cursive;
}

.welcome-msg-main {
  color: #aaa;
  position: absolute;
  right: 3vw;
  margin-top: 2vh;
}

h1 {
  padding-top: 1rem;
}

/*
#################
    FOOTER 
#################
 */

 .footer-basic {
  padding:10px 0;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.2;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #0e0924;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}


.footer-basic .social > a:hover {
  color: rgb(222, 235, 176);
  background-color: #0e0924;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#201744;
  margin-bottom:0;
}

/*
#################
      HOME 
#################
 */

/* #welcome {
  height: 20vh;
} */

/* #explore, #signup {
  height: 30vh;
} */



/*
#################
RECIPE LIST PAGE 
#################
 */

/* FLIP CARDS */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  height: 30vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: white;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: #000;
}

/* Style the back side */
.flip-card-back {
  padding-top: 3%;
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
  height: 0;
}

.scroll-text {
  height: 100%; 
  overflow-x: scroll; 
  overflow-y: scroll; 
  width: 100%; 
  padding: 5%;
}

 .scroll-text p { 
  word-break: break-word; 
} 


/*
#################
RECIPE VIEW PAGE 
#################
 */

 .masthead-image img{
   height: 60vh;
   width: 70%;
   margin-bottom: 5%;
 }

 .recipe-title {
  font-family: 'Bubblegum Sans', cursive;
  font-style: italic;
  /* font-family: 'Courgette', cursive; */
  /* font-family: 'Space Mono', monospace; */
 }