{% extends "base.html" %}

{% block content %}

<h1>CONTACT</h1>

<form>
    <div class="form-group">
        <label for="contact-name">Name</label>
        <input type="text" class="form-control" id="contact-name" placeholder="Full Name">
    </div>

    <div class="form-group">
        <label for="contact-email">Email address</label>
        <input type="email" class="form-control" id="contact-email" placeholder="name@email.com">
    </div>

    <div class="form-group">
        <label for="contact-subject">Subject</label>
        <input type="text" class="form-control" id="contact-subject" placeholder="What's your message about?">
    </div>
    
    <div class="form-group">
        <label for="contact-message">Your message</label>
        <textarea class="form-control" id="contact-message" rows="3"></textarea>
    </div>

    <button type="button" class="btn btn-success">Send message</button>
</form>

{% endblock %}