{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<a href="{% url 'create' %}" role="button" aria-disabled="true" class="btn btn-outline-warning create-button">
    Create a recipe</a>
{% endif %}

<h1>PROFILE</h1>
<br>
<h2 class="fs-3">Published Recipes</h2>

<div class="container">
    <div class="row">

        <!-- flip cards -->

        <div class="col-12 mt-3 left">
            <div class="row">

                {% for recipe in published %}
                <div class="col-md-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">

                            <!-- FRONT OF CARD -->
                            <div class="flip-card-front">
                                <div class="image-container">
                                    {% if "placeholder" in recipe.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/hartnetl/image/upload/v1634056214/temp-logo_lkdghp.png">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                                    {% endif %}
                                </div>
                                <a href="{% url 'full_recipe' recipe.slug %}" class="recipe-link">
                                    <h2 class="card-title">{{ recipe.title }}</h2>
                                    <p class="recipe-card-text">Category: {{ recipe.category }} <br>
                                        Tags:
                                        {% for tag in recipe.tags.all %}
                                        <a href="{% url 'recipes_by_tag' tag.slug %}">{{ tag.name }}</a>
                                        {% endfor %}</p>
                                </a>
                            </div>

                            <!-- BACK OF CARD-->
                            <div class="flip-card-back scroll-text">
                                <a href="{% url 'full_recipe' recipe.slug %}" class="recipe-link">
                                    <p class="recipe-card-text recipe-card-link">Author: {{ recipe.creator }} <br>
                                        {{ recipe.date_created }} </p>
                                </a>
                                <hr>
                                <p class="recipe-card-text">{{ recipe.about | safe }}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                <div class="row">
                    {% endif %}
                    {% empty %}
                    <p>You have no recipes published </p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <h2 class="fs-3">Draft Recipes</h2>


    <div class="row">

        <!-- flip cards -->

        <div class="col-12 mt-3 left">
            <div class="row">

                {% for recipe in draft %}

                <div class="col-md-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">

                            <!-- FRONT OF CARD -->
                            <div class="flip-card-front">
                                <div class="image-container">
                                    {% if "placeholder" in recipe.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/hartnetl/image/upload/v1634056214/temp-logo_lkdghp.png">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                                    {% endif %}
                                </div>
                                <a href="{% url 'full_recipe' recipe.slug %}" class="recipe-link">
                                    <h2 class="card-title">{{ recipe.title }}</h2>
                                    <p class="recipe-card-text">Category: {{ recipe.category }} <br>
                                        Tags:
                                        {% for tag in recipe.tags.all %}
                                        <a href="{% url 'recipes_by_tag' tag.slug %}">{{ tag.name }}</a>
                                        {% endfor %}</p>
                                </a>
                            </div>

                            <!-- BACK OF CARD-->
                            <div class="flip-card-back scroll-text">
                                <a href="{% url 'full_recipe' recipe.slug %}" class="recipe-link">
                                    <p class="recipe-card-text recipe-card-link">Author: {{ recipe.creator }} <br>
                                        {{ recipe.date_created }} </p>
                                </a>
                                <hr>
                                <p class="recipe-card-text">{{ recipe.about | safe }}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                <div class="row">
                    {% endif %}
                    {% empty %}
                    <p>You have no recipes saved as draft </p>


                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <h2 class="fs-3">Saved Recipes</h2>


    <div class="row">

        <!-- flip cards -->

        <div class="col-12 mt-3 left">
            <div class="row">

                {% for recipe in saved %}

                <div class="col-md-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">

                            <!-- FRONT OF CARD -->
                            <div class="flip-card-front">
                                <div class="image-container">
                                    {% if "placeholder" in recipe.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/hartnetl/image/upload/v1634056214/temp-logo_lkdghp.png">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                                    {% endif %}
                                </div>
                                <a href="{% url 'full_recipe' recipe.slug %}" class="recipe-link">
                                    <h2 class="card-title">{{ recipe.title }}</h2>
                                    <p class="recipe-card-text">Category: {{ recipe.category }} <br>
                                        Tags:
                                        {% for tag in recipe.tags.all %}
                                        <a href="{% url 'recipes_by_tag' tag.slug %}">{{ tag.name }}</a>
                                        {% endfor %}</p>
                                </a>
                            </div>

                            <!-- BACK OF CARD-->
                            <div class="flip-card-back scroll-text">
                                <a href="{% url 'full_recipe' recipe.slug %}" class="recipe-link">
                                    <p class="recipe-card-text recipe-card-link">Author: {{ recipe.creator }} <br>
                                        {{ recipe.date_created }} </p>
                                </a>
                                <hr>
                                <p class="recipe-card-text">{{ recipe.about | safe }}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                <div class="row">
                    {% endif %}
                    {% empty %}
                    <p>You have no recipes favourited. </p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}