{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<h1>CREATE A RECIPE</h1>

<form method="POST" enctype="multipart/form-data" onsubmit="adminNotification();">

    <!-- Security token -->
    {% csrf_token %}
    <div class="container recipe-form">
        <div class="card">
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
        <button class="form-submit box-button" type="submit">Submit</button>
    </div>

</form>


{% endblock %}