{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<button type="button" class="btn btn-outline-info"><a href="{% url 'update' recipe.slug %}">Edit recipe</a></button>
<button type="button" class="btn btn-outline-info"><a href="{% url 'delete' recipe.slug %}">Delete recipe</a></button>


<!-- Featured image header -->

<div class="masthead">
    <div class="container">
        <div class="row g-0 text-center">
            <div class="col masthead-text">
                <h1 class="recipe-title">{{ recipe.title }}</h1>
                <p class="recipe-subtitle">{{ recipe.creator }} | {{ recipe.date_created }}</p>
            </div>
        </div>
        <div class="row g-0 text-center">
            <div class="d-none col d-md-block masthead-image">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/hartnetl/image/upload/v1634056214/temp-logo_lkdghp.png">
                {% else %}
                <img src=" {{ post.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Post content -->

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    <strong>Servings: </strong>{{ recipe.servings | safe }}
                    <strong>Preparation Time: </strong>{{ recipe.prep_time | safe }}
                    <strong>Cooking Time: </strong>{{ recipe.cook_time | safe }}
                </p>
                <p class="card-text ">
                    <strong>About:</strong><br>
                    {{ recipe.about | safe }}
                </p>
                <p class="card-text ">
                    <strong>Nutrition:</strong><br>
                    {{ recipe.nutrition | safe }}
                </p>
                <p class="card-text ">
                    
                    <strong>Nutrition:</strong><br>
                    {{ recipe.ingredients | safe }}

                </p>
                <p class="card-text ">
                    <strong>Method:</strong><br>
                    {{ recipe.method | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <!-- Comments -->

    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.date_posted }}
                        </span> wrote:
                    </p>
                    {{ comment.message | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Add comments-->
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert" id="comment-id">
                    Your comment is pending approval. Please be patient.
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}